.contact {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
}

@media only screen and (min-width: 768px) {
  .contact__body {
    width: 750px;
    display: flex;
  }

  .contact {
    padding: 60px 30;
  }
}
