footer {
  background: var(--black);
  background-image: url("./img/stardust.png");
  display: flex;
  justify-content: center;
  padding: 80px 80px;
}

footer span {
  text-align: center;
  font-size: 14px;
  color: var(--primary-color);
}
