.header {
  margin-top: 70px;
  padding: 50px 0;
  background-color: var(--black);
  background-image: url("./img/stardust.png");
  color: var(--white);
}

.header__body {
  padding: 0 20px;
  text-align: center;
}

.header__body > h1 {
  font-size: 25px;
}

.header__body > h1 > .myName {
  color: var(--primary-color);
}

.header__body > p {
  margin-top: 10px;
  font-size: 21px;
}

.header__body > a {
  margin-top: 20px;
  color: white;
  border: 1px solid;
  text-transform: capitalize;
}

.header__body > a:hover {
  background: var(--black);
  border: 1px solid white;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 120px 0;
  }

  .header__body > h1 {
    text-align: center;
    font-size: 45px;
  }
}
