.header {
  margin-top: 70px;
  padding: 50px 0;
  background-color: var(--black);
  background-image: url("./img/stardust.png");
  color: var(--white);
}

.header__body {
  padding: 0 20px;
}

.header__body > h1 {
  text-align: center;
  font-size: 25px;
}

.header__body > h1 > .myName {
  color: var(--primary-color);
}

.header__body > p {
  text-align: center;
  margin-top: 10px;
  font-size: 21px;
}

@media only screen and (min-width: 768px) {
  .header {
    padding: 120px 0;
  }

  .header__body > h1 {
    text-align: center;
    font-size: 45px;
  }
}
